apiVersion: v1
kind: Service
metadata:
  name: {{ include "nasa-swpc-exporter.fullname" . }}
  labels:
    {{- include "nasa-swpc-exporter.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: metrics
  selector:
    {{- include "nasa-swpc-exporter.selectorLabels" . | nindent 4 }}
